In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.tree import DecisionTreeRegressor

In [2]:
test = pd.read_csv(r"E:\Dokumenty\gk\Python\Kaggle\titanic\test.csv")
data = pd.read_csv(r"E:\Dokumenty\gk\Python\Kaggle\titanic\train.csv")
test_ids = test["PassengerId"]

In [3]:
def clean(data):
    data = data.drop(['Ticket', 'Cabin', "PassengerId"], axis=1)
    
    cols = ['SibSp', 'Parch', 'Fare', 'Age']
    for col in cols:
        data[col].fillna(data[col].median(), inplace = True)
    data.Embarked.fillna("U", inplace=True)
    return data
data = clean(data)
test = clean(test)

In [4]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
cols = ["Sex", "Embarked"]

for col in cols:
    data[col] = le.fit_transform(data[col])
    test[col] = le.transform(test[col])
    print(le.classes_)

['female' 'male']
['C' 'Q' 'S' 'U']

In [5]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

y = data["Survived"]
X = data.drop("Survived", axis=1)
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [6]:
clf = LogisticRegression(random_state=0, max_iter=1000).fit(X_train, y_train)

ValueError: could not convert string to float: 'Partner, Mr. Austen'

In [ ]:
predictions = clf.predict(X_val)
from sklearn.metrics import accuracy_score
accuracy_score(y_val, predictions)

In [ ]:
submission_preds = clf.predict(test)

In [ ]:
df = pd.DataFrame({"PassengerId":test_ids.values,
                  "Survived": submission_preds})

In [8]:
pd.set_option('display.max_rows', 500)
pd.options.display.max_rows = 500

In [ ]:
#df.to_csv("submission2.csv", index=False)

In [9]:
data.head(100)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked
0,0,3,"Braund, Mr. Owen Harris",1,22.00,1,0,7.2500,2
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.00,1,0,71.2833,0
2,1,3,"Heikkinen, Miss. Laina",0,26.00,0,0,7.9250,2
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.00,1,0,53.1000,2
4,0,3,"Allen, Mr. William Henry",1,35.00,0,0,8.0500,2
5,0,3,"Moran, Mr. James",1,28.00,0,0,8.4583,1
6,0,1,"McCarthy, Mr. Timothy J",1,54.00,0,0,51.8625,2
7,0,3,"Palsson, Master. Gosta Leonard",1,2.00,3,1,21.0750,2
8,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",0,27.00,0,2,11.1333,2
9,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",0,14.00,1,0,30.0708,0
10,1,3,"Sandstrom, Miss. Marguerite Rut",0,4.00,1,1,16.7000,2
11,1,1,"Bonnell, Miss. Elizabeth",0,58.00,0,0,26.5500,2
12,0,3,"Saundercock, Mr. William Henry",1,20.00,0,0,8.0500,2
13,0,3,"Andersson, Mr. Anders Johan",1,39.00,1,5,31.2750,2
14,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",0,14.00,0,0,7.8542,2
15,1,2,"Hewlett, Mrs. (Mary D Kingcome)",0,55.00,0,0,16.0000,2
16,0,3,"Rice, Master. Eugene",1,2.00,4,1,29.1250,1
17,1,2,"Williams, Mr. Charles Eugene",1,28.00,0,0,13.0000,2
18,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,31.00,1,0,18.0000,2
19,1,3,"Masselmani, Mrs. Fatima",0,28.00,0,0,7.2250,0
20,0,2,"Fynney, Mr. Joseph J",1,35.00,0,0,26.0000,2
21,1,2,"Beesley, Mr. Lawrence",1,34.00,0,0,13.0000,2
22,1,3,"McGowan, Miss. Anna ""Annie""",0,15.00,0,0,8.0292,1
23,1,1,"Sloper, Mr. William Thompson",1,28.00,0,0,35.5000,2
24,0,3,"Palsson, Miss. Torborg Danira",0,8.00,3,1,21.0750,2
25,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",0,38.00,1,5,31.3875,2
26,0,3,"Emir, Mr. Farred Chehab",1,28.00,0,0,7.2250,0
27,0,1,"Fortune, Mr. Charles Alexander",1,19.00,3,2,263.0000,2
28,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",0,28.00,0,0,7.8792,1
29,0,3,"Todoroff, Mr. Lalio",1,28.00,0,0,7.8958,2
30,0,1,"Uruchurtu, Don. Manuel E",1,40.00,0,0,27.7208,0
31,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",0,28.00,1,0,146.5208,0
32,1,3,"Glynn, Miss. Mary Agatha",0,28.00,0,0,7.7500,1
33,0,2,"Wheadon, Mr. Edward H",1,66.00,0,0,10.5000,2
34,0,1,"Meyer, Mr. Edgar Joseph",1,28.00,1,0,82.1708,0
35,0,1,"Holverson, Mr. Alexander Oskar",1,42.00,1,0,52.0000,2
36,1,3,"Mamee, Mr. Hanna",1,28.00,0,0,7.2292,0
37,0,3,"Cann, Mr. Ernest Charles",1,21.00,0,0,8.0500,2
38,0,3,"Vander Planke, Miss. Augusta Maria",0,18.00,2,0,18.0000,2
39,1,3,"Nicola-Yarred, Miss. Jamila",0,14.00,1,0,11.2417,0
40,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",0,40.00,1,0,9.4750,2
41,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",0,27.00,1,0,21.0000,2
42,0,3,"Kraeff, Mr. Theodor",1,28.00,0,0,7.8958,0
43,1,2,"Laroche, Miss. Simonne Marie Anne Andree",0,3.00,1,2,41.5792,0
44,1,3,"Devaney, Miss. Margaret Delia",0,19.00,0,0,7.8792,1
45,0,3,"Rogers, Mr. William John",1,28.00,0,0,8.0500,2
46,0,3,"Lennon, Mr. Denis",1,28.00,1,0,15.5000,1
47,1,3,"O'Driscoll, Miss. Bridget",0,28.00,0,0,7.7500,1
48,0,3,"Samaan, Mr. Youssef",1,28.00,2,0,21.6792,0
49,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",0,18.00,1,0,17.8000,2
50,0,3,"Panula, Master. Juha Niilo",1,7.00,4,1,39.6875,2
51,0,3,"Nosworthy, Mr. Richard Cater",1,21.00,0,0,7.8000,2
52,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",0,49.00,1,0,76.7292,0
53,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",0,29.00,1,0,26.0000,2
54,0,1,"Ostby, Mr. Engelhart Cornelius",1,65.00,0,1,61.9792,0
55,1,1,"Woolner, Mr. Hugh",1,28.00,0,0,35.5000,2
56,1,2,"Rugg, Miss. Emily",0,21.00,0,0,10.5000,2
57,0,3,"Novel, Mr. Mansouer",1,28.50,0,0,7.2292,0
58,1,2,"West, Miss. Constance Mirium",0,5.00,1,2,27.7500,2
59,0,3,"Goodwin, Master. William Frederick",1,11.00,5,2,46.9000,2
60,0,3,"Sirayanian, Mr. Orsen",1,22.00,0,0,7.2292,0
61,1,1,"Icard, Miss. Amelie",0,38.00,0,0,80.0000,3
62,0,1,"Harris, Mr. Henry Birkhardt",1,45.00,1,0,83.4750,2
63,0,3,"Skoog, Master. Harald",1,4.00,3,2,27.9000,2
64,0,1,"Stewart, Mr. Albert A",1,28.00,0,0,27.7208,0
65,1,3,"Moubarek, Master. Gerios",1,28.00,1,1,15.2458,0
66,1,2,"Nye, Mrs. (Elizabeth Ramell)",0,29.00,0,0,10.5000,2
67,0,3,"Crease, Mr. Ernest James",1,19.00,0,0,8.1583,2
68,1,3,"Andersson, Miss. Erna Alexandra",0,17.00,4,2,7.9250,2
69,0,3,"Kink, Mr. Vincenz",1,26.00,2,0,8.6625,2
70,0,2,"Jenkin, Mr. Stephen Curnow",1,32.00,0,0,10.5000,2
71,0,3,"Goodwin, Miss. Lillian Amy",0,16.00,5,2,46.9000,2
72,0,2,"Hood, Mr. Ambrose Jr",1,21.00,0,0,73.5000,2
73,0,3,"Chronopoulos, Mr. Apostolos",1,26.00,1,0,14.4542,0
74,1,3,"Bing, Mr. Lee",1,32.00,0,0,56.4958,2
75,0,3,"Moen, Mr. Sigurd Hansen",1,25.00,0,0,7.6500,2
76,0,3,"Staneff, Mr. Ivan",1,28.00,0,0,7.8958,2
77,0,3,"Moutal, Mr. Rahamin Haim",1,28.00,0,0,8.0500,2
78,1,2,"Caldwell, Master. Alden Gates",1,0.83,0,2,29.0000,2
79,1,3,"Dowdell, Miss. Elizabeth",0,30.00,0,0,12.4750,2
80,0,3,"Waelens, Mr. Achille",1,22.00,0,0,9.0000,2
81,1,3,"Sheerlinck, Mr. Jan Baptist",1,29.00,0,0,9.5000,2
82,1,3,"McDermott, Miss. Brigdet Delia",0,28.00,0,0,7.7875,1
83,0,1,"Carrau, Mr. Francisco M",1,28.00,0,0,47.1000,2
84,1,2,"Ilett, Miss. Bertha",0,17.00,0,0,10.5000,2
85,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",0,33.00,3,0,15.8500,2
86,0,3,"Ford, Mr. William Neal",1,16.00,1,3,34.3750,2
87,0,3,"Slocovski, Mr. Selman Francis",1,28.00,0,0,8.0500,2
88,1,1,"Fortune, Miss. Mabel Helen",0,23.00,3,2,263.0000,2
89,0,3,"Celotti, Mr. Francesco",1,24.00,0,0,8.0500,2
90,0,3,"Christmann, Mr. Emil",1,29.00,0,0,8.0500,2
91,0,3,"Andreasson, Mr. Paul Edvin",1,20.00,0,0,7.8542,2
92,0,1,"Chaffee, Mr. Herbert Fuller",1,46.00,1,0,61.1750,2
93,0,3,"Dean, Mr. Bertram Frank",1,26.00,1,2,20.5750,2
94,0,3,"Coxon, Mr. Daniel",1,59.00,0,0,7.2500,2
95,0,3,"Shorney, Mr. Charles Joseph",1,28.00,0,0,8.0500,2
96,0,1,"Goldschmidt, Mr. George B",1,71.00,0,0,34.6542,0
97,1,1,"Greenfield, Mr. William Bertram",1,23.00,0,1,63.3583,0
98,1,2,"Doling, Mrs. John T (Ada Julia Bone)",0,34.00,0,1,23.0000,2
99,0,2,"Kantor, Mr. Sinai",1,34.00,1,0,26.0000,2